.changecolor {
    font-size: larger;
    color: rgb(255, 255, 255);
}

.last {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: rgb(195, 226, 171);
}

.last ul {
    width: 100%;
    padding: 0;
    /* 确保没有默认的内边距 */
    margin: 0;
    /* 确保没有默认的外边距 */
    list-style: none;
    /* 移除默认的列表样式 */
    display: flex;
    /* 使用flex布局 */
    justify-content: space-between;
    /* 子元素水平分布 */
}

.last ul li {
    width: 24.5%;
    height: 100%;
    display: flex;
    /* 使用flex布局 */
    flex-direction: column;
    /* 子元素垂直排列 */
    justify-content: flex-start;
    /* 子元素顶部对齐 */
    align-items: center;
    /* 子元素水平居中 */
    padding-top: 3%;
    /* 为<li>元素添加顶部内边距 */
}

.last ul li h1,
.last ul li p {
    text-align: center;
    line-height: 50px;
    margin: 0;
    /* 确保没有默认的外边距 */
}

.last ul li h1 {
    font-size: 45px;
    margin-bottom: 10px;
    /* 为<h1>元素添加底部外边距 */
}

.last h1 a {
    text-decoration: none;
    color: black;
}

.last ul li p {
    font-size: 20px;
    margin-top: 10px;
}